#form {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(62, 65, 68);
  border-right: 1px solid rgb(62, 65, 68);
  border-left: 1px solid rgb(62, 65, 68);
}

#input {
  width: 100%;
  height: 64px;
  padding: 12px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
}

#input::placeholder {
  color: rgb(231, 233, 234);
  font-size: 18px;
}

#input:focus {
  border: none;
  border: 0;
  outline: 0;
}

#button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#button-containter button {
  margin-right: 10px;
}

#submit {
  border: none;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#submit:disabled {
  filter: grayscale(70%);
  cursor: default;
}
