.tweet {
  width: 100%;
  border-bottom: 1px solid rgb(62, 65, 68);
  color: white;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

.clickable-tweet {
  cursor: pointer;
}

.tweet-header {
  display: flex;
  align-items: center;
}

.tweet-header-separator {
  margin-left: 8px;
  margin-right: 8px;
  color: rgb(62, 65, 68);
  font-size: 12px;
}

.tweet-author {
  color: white;
  font-weight: 600;
  border-bottom: 1px;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(white, white);
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.05s linear;
}

.clickable-tweet-author {
  cursor: pointer;
}

.clickable-tweet-author:hover {
  background-size: 0 1px, 100% 1px;
}

.tweet-id {
  color: rgb(62, 65, 68);
  font-size: 18px;
}

.tweet-content {
  color: white;
  font-size: 24px;
}

.tweet-footer {
  margin-top: 4px;
  width: 100%;
  display: flex;
}

.tweet-footer>* {
  margin-right: 8px;
}

.tweet-footer-buttom {
  display: flex;
  align-items: center;
  color: rgb(62, 65, 68);
  padding: 4px;
  border-radius: 8px;
  transition: background-color 0.15s, color 0.15s;
  border: none;
  background-color: transparent;
}

.tweet-footer-icon {
  width: 24px;
  height: 24px;
}

.tweet-footer-button-with-text {
  margin-right: 8px;
}

.tweet-likes:hover:disabled {
  background-color: rgb(249, 24, 128, 0.2);
  color: rgb(249, 24, 128);
  filter: invert(20%) sepia(57%) saturate(6692%) hue-rotate(322deg) brightness(103%) contrast(95%);
  /* To change the color of the svg with css*/
}

.tweet-likes:hover:enabled {
  cursor: pointer;
  background-color: rgb(249, 24, 128, 0.2);
  color: rgb(249, 24, 128);
  filter: invert(20%) sepia(57%) saturate(6692%) hue-rotate(322deg) brightness(103%) contrast(95%);
}

.tweet-transfer:hover:enabled {
  cursor: pointer;
  background-color: rgb(0, 186, 124, 0.1);
  filter: invert(62%) sepia(45%) saturate(4329%) hue-rotate(121deg) brightness(90%) contrast(101%);
}

.tweet-collect:hover:enabled {
  cursor: pointer;
  background-color: rgb(29, 155, 240, 0.1);
  filter: invert(48%) sepia(93%) saturate(1981%) hue-rotate(179deg) brightness(98%) contrast(91%);
}

.tweet-mint:hover:disabled {
  background-color: rgb(249, 24, 128, 0.2);
  filter: invert(48%) sepia(93%) saturate(1981%) hue-rotate(179deg) brightness(98%) contrast(91%);
  /* To change the color of the svg with css*/
}

.tweet-mint:hover:enabled {
  cursor: pointer;
  background-color: rgb(29, 155, 240, 0.1);
  filter: invert(48%) sepia(93%) saturate(1981%) hue-rotate(179deg) brightness(98%) contrast(91%);
}

.image-container {
  display: flex;
  justify-content: center;
}

.content-image {
  max-width: 100%;
}

@media (max-width: 600px) {
  .tweet {
    padding-left: 12px;
    padding-right: 12px;
  }

  .tweet-author {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
